flask==3.0.0
flask-cors==4.0.0
ultralytics==8.3.231
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
Pillow==10.1.0
numpy==1.24.3

# Torch compatible with Ultralytics
torch==2.3.1
torchvision==0.18.1

python-multipart==0.0.6